{% extends 'base.html' %}
{% load static i18n %}
{% block title %}
    About us
{% endblock %}
{% block content %}
    <!-- HEADER
    ================================================== -->
    <section class="section section_header" data-parallax="scroll"
             data-image-src="https://source.unsplash.com/5AMSZcgN_cM/1920x1080">
        <div class="container">
            <div class="row">
                <div class="col">

                    <!-- Heading -->
                    <h1 class="section__heading section_header__heading text-center">
                        {% trans 'About Us' %}
                    </h1>

                </div>
            </div> <!-- / .row -->
        </div> <!-- / .container -->
    </section>

    <!-- DISCOVER
    ================================================== -->
    <section class="section section_discover">
        <div class="container">
            <div class="row">
                <div class="col-md-2 align-self-start">

                    <!-- Description -->
                    <p class="section_discover__description">
                        {% trans 'Say goodbye to physical price lists and say hello to QR code!' %}
                    </p>

                </div>
                <div class="col-md-4 align-self-start">

                    <!-- Image -->
                    <div class="section_discover__img">
                        <img src="{% static 'about2.jpg' %}" class="img-fluid" alt="...">
                    </div>

                </div>
                <div class="col-md-6 align-self-center">

                    <!-- Content -->
                    <p>
                    <h3>{% trans 'Save on printing costs' %}</h3>
                    {% trans 'Paper price lists are subject to wear and tear. Sometimes drinks or sauces are spilled on them smeared all over the menu lid. Unsurprisingly, paper menu printing actually eats up your profit. But with a QR code replacing the physical price list, you only need to print the code on surfaces where it is easily accessible, such as on your restaurant wall, in a window, on a door or even on the table itself. But what if you need to change the menu?' %}
                    </p>
                    <p>
                    <h3>{% trans 'Easily replaceable without reprinting' %}</h3>
                    {% trans 'To change the price list, all you have to do is change the product or category, not even retyping a new QR code. Thats right, a QR code is a dynamic QR code form where you you can easily replace and edit its content whenever you want. There are absolutely no restrictions on how many times you can change the price list in just a few clicks. Now you, finally, you can create a seasonal menu that changes every 3 months to keep customers coming back again and again.' %}
                    </p>

                </div>
            </div> <!-- / .row -->
        </div> <!-- / .container -->
    </section>

    <!-- QUOTE
    ================================================== -->
    <section class="section section_quote section_gray">
        <div class="container section_quote__container">
            <div class="row">
                <div class="col col-md-8 ml-md-auto mr-md-auto">

                    <!-- Blockquote -->
                    <blockquote class="section_quote__blockquote">
                        <p class="text-center">
                            {% trans 'Ideal tool for restaurants, cafes, bars and other types of businesses to provide your customers with an attractive QR price list' %}
                            <footer class="text-center">
                                QR code menu
                            </footer>
                    </blockquote>

                </div>
            </div> <!-- / .row -->
        </div> <!-- / .container -->
    </section>
    <section class="section section_discover">
        <div class="container">
            <div class="row">

                <div class="col-md-6 align-self-center">

                    <p>
                    <h3>{% trans 'Update on the fly' %}</h3>
                   {% trans 'How many times have you sold a dish or no longer offered specials printed in price list? We know that updating a price list is time consuming and expensive. Thats why QR code is perfect suitable for updating the sheet in real time. No need to tell clients anymore: "Sorry, its sold out!"' %}
                    </p>

                    <p>
                    <h3>{% trans 'Grab attention with images' %}</h3>
                    {% trans 'Most do not add images to their price list because high-quality printing images on paper cost money. But with the QR code you can download your digital price list from mouth-watering images to keep customers happy. Moreover, they can see and accept solution based on the images they see to streamline the ordering process.' %}
                    </p>

                </div>
                <div class="col-md-6 align-self-start">

                    <!-- Image -->
                    <div class="section_discover__img">
                        <img src="{% static 'about1.jpeg' %}" class="img-fluid" alt="...">
                    </div>

                </div>

            </div> <!-- / .row -->
        </div> <!-- / .container -->
    </section>
    <!-- INFO
    ================================================== -->
    <section class="section section_info section_info_opposite">
        <div class="container">
            <div class="row">
                <div class="col">

                    <!-- Heading -->
                    <h2 class="section__heading text-center">
                        {% trans 'Behind the scenes' %}
                    </h2>

                    <!-- Subheading -->
                    <p class="section__subheading text-center">
                        {% trans 'Our team is working to stop using paper in the creation of price lists in the future. Thus, help nature.' %}
                    </p>

                </div>
            </div> <!-- / .row -->
            <div class="row align-items-justify">
                <div class="col-md-6 order-md-3">

                    <div class="section_info__img">
                        <img src="{% static 'assets/img/24.jpg' %}" alt="...">
                    </div>

                </div>
                <div class="col-md-1 order-md-2"></div>
                <div class="col-md-5 order-md-1">

                    <div class="section_info__body">
                        <p class="lead text-heading">
                            {% trans 'Our team is working to ensure that you can provide a price list of your services at any time regardless of location and accessible by QR code' %}
                        </p>
                        <p>
                            {% trans 'If you have any questions related to the operation of the service, you can contact us.' %}
                        </p>
                        <br>
                        <p>
                            <a href="{% url 'contact_us' %}" class="btn btn-primary">
                                {% trans 'Contact Us' %}
                            </a>
                        </p>
                    </div>

                </div>
            </div> <!-- / .row -->
        </div> <!-- / .container -->
    </section>

{% endblock %}
