{% extends 'base.html' %}
{% load static i18n %}
{% block title %}
    About us
{% endblock %}
{% block content %}
    <!-- HEADER
    ================================================== -->
    <section class="section section_header" data-parallax="scroll"
             data-image-src="https://source.unsplash.com/5AMSZcgN_cM/1920x1080">
        <div class="container">
            <div class="row">
                <div class="col">

                    <!-- Heading -->
                    <h1 class="section__heading section_header__heading text-center">
                        {% trans 'About Us' %}
                    </h1>

                </div>
            </div> <!-- / .row -->
        </div> <!-- / .container -->
    </section>

    <!-- DISCOVER
    ================================================== -->
    <section class="section section_discover">
        <div class="container">
            <div class="row">
                <div class="col-md-2 align-self-start">

                    <!-- Description -->
                    <p class="section_discover__description">
                        Попрощайтесь с физическим меню и поздоровайтесь с QR-кодами!
                    </p>
                    </p>

                </div>
                <div class="col-md-4 align-self-start">

                    <!-- Image -->
                    <div class="section_discover__img">
                        <img src="{% static 'assets/img/2.jpg' %}" class="img-fluid" alt="...">
                    </div>

                </div>
                <div class="col-md-6 align-self-center">

                    <!-- Content -->
                    <h2><em>Lorem ipsum</em> dolor sit amet</h2>
                    <p>
                    <h3>Экономьте на расходах на печать</h3>
                    Меню часто разделяют, что приводит к износу. Иногда на них проливаются напитки или соусы
                    размазываются по всей крышке меню. Неудивительно, что печать меню из бумаги на самом деле съедает
                    вашу прибыль . Но с QR-кодом PDF, заменяющим физическое меню, вам нужно только распечатать код на
                    поверхностях, где он легко доступен, например, на стене вашего ресторана, в окне, на двери или даже
                    на самом столе. Но что, если вам нужно изменить меню?
                    </p>
                    <p>
                    <h3>Легко заменяется без перепечатки</h3>
                    Чтобы изменить меню, все, что вам нужно сделать, это загрузить новый файл в QR-код, даже не
                    перепечатывая новый QR-код. Правильно, QR-код PDF - это форма динамического QR-кода, в которой вы
                    можете легко заменять и редактировать его содержимое, когда захотите. Нет абсолютно никаких
                    ограничений на то, сколько раз вы можете изменить меню всего за несколько кликов. Теперь вы,
                    наконец, можете создать сезонное меню, которое меняется каждые 3 месяца, чтобы клиенты возвращались
                    снова и снова.
                    </p>

                </div>
            </div> <!-- / .row -->
        </div> <!-- / .container -->
    </section>

    <!-- QUOTE
    ================================================== -->
    <section class="section section_quote section_gray">
        <div class="container section_quote__container">
            <div class="row">
                <div class="col col-md-8 ml-md-auto mr-md-auto">

                    <!-- Blockquote -->
                    <blockquote class="section_quote__blockquote">
                        <p class="text-center">
                            Идеальный инструмент для ресторанов , кафе , магазинов и других типов бизнеса, чтобы
                            предоставить своим клиентам привлекательное QR-меню
                            <footer class="text-center">
                                Dmytro Lytvynenko
                            </footer>
                    </blockquote>

                </div>
            </div> <!-- / .row -->
        </div> <!-- / .container -->
    </section>
    <section class="section section_discover">
        <div class="container">
            <div class="row">

                <div class="col-md-6 align-self-center">

                    <p>
                    <h3>Обновление на лету</h3>
                    Сколько раз вы продавали блюдо или больше не предлагали специальные предложения, напечатанные в
                    меню? Мы знаем, что обновление меню занимает много времени и дорого. Вот почему QR-код PDF идеально
                    подходит для обновления меню в режиме реального времени. Больше не нужно говорить клиентам:
                    «Извините, он распродан»!
                    </p>


                    <p>
                    <h3>Привлекайте внимание изображениями</h3>
                    Большинство ресторанов не добавляют изображения в свое меню, потому что печать высококачественных
                    изображений на бумаге стоит денег. Но с помощью QR-кода PDF вы можете загрузить свое цифровое меню с
                    аппетитными изображениями, чтобы клиенты были довольны. Кроме того, они могут увидеть и принять
                    решение на основе изображений, которые они видят, чтобы упростить процесс заказа.
                    </p>

                </div>
                <div class="col-md-6 align-self-start">

                    <!-- Image -->
                    <div class="section_discover__img">
                        <img src="{% static 'assets/img/2.jpg' %}" class="img-fluid" alt="...">
                    </div>

                </div>

            </div> <!-- / .row -->
        </div> <!-- / .container -->
    </section>
    <!-- INFO
    ================================================== -->
    <section class="section section_info section_info_opposite">
        <div class="container">
            <div class="row">
                <div class="col">

                    <!-- Heading -->
                    <h2 class="section__heading text-center">
                        Behind the scenes
                    </h2>

                    <!-- Subheading -->
                    <p class="section__subheading text-center">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officia obcaecati sit odio velit culpa
                        aspernatur consectetur natus quidem minima veritatis.
                    </p>

                </div>
            </div> <!-- / .row -->
            <div class="row align-items-justify">
                <div class="col-md-6 order-md-3">

                    <div class="section_info__img">
                        <img src="{% static 'assets/img/24.jpg' %}" alt="...">
                    </div>

                </div>
                <div class="col-md-1 order-md-2"></div>
                <div class="col-md-5 order-md-1">

                    <div class="section_info__body">
                        <p class="lead text-heading">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Provident sequi ratione, accusamus
                            quo mollitia architecto, explicabo obcaecati.
                        </p>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorum enim saepe aperiam eius,
                            quam blanditiis necessitatibus dolorem dignissimos pariatur quas velit nihil tempora, libero
                            unde molestiae! Illum, inventore. Iusto, autem!
                        </p>
                        <br>
                        <p>
                            <a href="{% url 'contact_us' %}" class="btn btn-primary">
                                {% trans 'Contact Us' %}
                            </a>
                        </p>
                    </div>

                </div>
            </div> <!-- / .row -->
        </div> <!-- / .container -->
    </section>

{% endblock %}
