{% extends 'base.html' %}
{% load i18n %}
{% block title %}
    {% trans 'Add category' %}
{% endblock %}
{% block content %}
    <section class="section section_header" data-parallax="scroll" data-image-src="{% if customer.profile_image %}
    {{ customer.profile_image.url }}
    {% else %}
    https://source.unsplash.com/5AMSZcgN_cM/1920x1080
    {% endif %}">
        <div class="container">
            <div class="row">
                <div class="col">

                    <!-- Heading -->
                    <h1 class="section__heading section_header__heading text-center">
                        {% trans 'Add category' %}
                    </h1>

                </div>
            </div> <!-- / .row -->
        </div> <!-- / .container -->
    </section>
         <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'index' %}">{% trans 'Home' %}</a></li>
            <li class="breadcrumb-item"><a href="{% url 'category' %}">{% trans 'Category' %}</a></li>
            <li class="breadcrumb-item active" aria-current="page">{% trans 'Edit category' %}</li>
        </ol>
    </nav>
    <div class="container" style="margin-bottom: 30px; margin-top: 30px;">
        <form action="" method="post">
            {% csrf_token %}
            {{ forms.name }}
            <br>
            {{ forms.description }}
            <br>
            <center><button class="btn btn-primary">{% trans 'Add category' %}</button></center>
        </form>
    </div>

{% endblock %}