{% load static i18n %}

<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'assets/ico/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'assets/ico/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'assets/ico/favicon-16x16.png' %}">
    <link rel="manifest" href="{% static 'assets/ico/manifest.json' %}">
    <link rel="mask-icon" href="{% static 'assets/ico/safari-pinned-tab.svg' %}" color="#5bbad5">
    <link rel="shortcut icon" href="{% static 'assets/ico/favicon.ico' %}">
    <meta name="msapplication-config" content="{% static 'assets/ico/browserconfig.xml' %}">
    <meta name="theme-color" content="#ffffff">

    <title>{% block title %}

    {% endblock %}</title>

    <!-- CSS Plugins -->
    <link rel="stylesheet" href="{% static 'assets/plugins/font-awesome/css/all.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/plugins/lightbox/css/lightbox.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/plugins/flickity/flickity.min.css' %}">

    <!-- CSS Global -->
    <!-- build:css assets/css/theme.min.css -->
    <link rel="stylesheet" href="{% static 'assets/css/theme.css' %}">
    <!-- endbuild -->

</head>
<body>

<nav class="navbar navbar-light navbar-expand-lg fixed-top">
    <div class="container">

        <!-- Navbar: Brand -->
        <a class="navbar-brand d-lg-none" href="{% url 'index' %}">QR code menu</a>

        <!-- Navbar: Toggler -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>


        <div class="collapse navbar-collapse" id="navbarSupportedContent">


            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'comming_soon' %}">{% trans 'News & Events' %}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'how_it_work' %}">{% trans 'How its work' %}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'example_menu' %}">{% trans 'Example menu' %}</a>
                </li>
            </ul>

            <!-- Navbar: Brand -->
            <a class="navbar-brand d-none d-lg-flex" href="{% url 'index' %}">
                QR code menu
            </a>

            <!-- Navbar navigation: Right -->
            <ul class="navbar-nav ml-auto">


                {% if user.is_authenticated %}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="" id="nav-item__menu" data-toggle="dropdown"
                           aria-haspopup="true" aria-expanded="false">
                            {% trans 'Profile' %}
                        </a>
                        <div class="dropdown-menu" aria-labelledby="nav-item__menu">
                            <a class="dropdown-item" href="{% url 'profile' %}"><i class="fas fa-user-alt"></i>
                                {% trans 'Profile' %} {{ user.username }}</a>
                            <a class="dropdown-item" href="{% url 'edit_profile' %}"><i
                                    class="fas fa-edit"></i> {% trans 'Edit profile' %}</a>
                            <a class="dropdown-item" href="{% url 'category' %}"><i
                                    class="fas fa-coffee"></i> {% trans 'Your category' %}</a>
                            <a class="dropdown-item" href="{% url 'product' %}"><i
                                    class="fas fa-th-list"></i> {% trans 'Menu preview' %}</a>
                            <a class="dropdown-item" href="{% url 'home' %}"><i class="fas fa-money-check-alt"></i>
                                {% trans 'Payments' %}</a>
                            <a class="dropdown-item" href="{% url 'download' %}"><i
                                    class="fas fa-download"></i> {% trans 'Download QR code' %}</a>
                            <a class="dropdown-item" href="{% url 'logout' %}"><i
                                    class="fas fa-sign-out-alt"></i> {% trans 'Log out' %}</a>

                        </div>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'login' %}">{% trans 'Sign in' %} <i
                                class="fas fa-sign-in-alt"></i></a>
                    </li>
                {% endif %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'about_us' %}">{% trans 'About Us' %}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'contact_us' %}">{% trans 'Contact' %}</a>
                </li>
            </ul>

        </div> <!-- / .navbar-collapse -->

    </div> <!-- / .container -->
</nav> <!-- / .navbar -->


{% block content %}

{% endblock %}
<!-- FOOTER
================================================== -->
<footer class="section section_footer">
    <div class="container">
        <div class="row">
            <div class="col-sm-4">

                <!-- About Us -->
                <h5 class="section_footer__heading">
                    {% trans 'About Us' %}
                </h5>
                <p>
                    {% trans 'Ideal tool for restaurants, cafes, bars, fast food to provide an attractive QR menu for your  clients' %}
                </p>

            </div>
            <div class="col-sm-4">

                <!-- Contact info -->
                <h5 class="section_footer__heading">
                    {% trans 'Contact info' %}
                </h5>
                <ul class="section_footer__info">
                    <li>
                        <i class="fas fa-map-marker-alt"></i>{% trans 'Kharkiv, Ukraine, 61000' %}
                    </li>
                    <li>
                        <i class="fas fa-phone"></i><a href="tel:+380996690449">+38 (099) 669-04-49</a>
                    </li>
                    <li>
                        <i class="far fa-envelope"></i> <a href="mailto:admin@domain.com">admin@domain.com</a>
                    </li>
                </ul>
               <h5 class="section_footer__heading">
                    <form action="{% url 'set_language' %}" method="post">
                        {% csrf_token %}
                        <input type="hidden" name="next" value="{{ redirect_to }}">
                        <select name="language" class="form-select form-select-sm" id="">
                            {% get_current_language as LANGUAGE_CODE %}
                            {% get_available_languages as LANGUAGES %}
                            {% get_language_info_list for LANGUAGES as languages %}
                            {% for language in languages %}
                                <option value="{{ language.code }}" {% if language.code == LANGUAGE_CODE %}
                                        selected
                                {% endif %} >
                                    {{ language.name_local }} ({{ language.code }})
                                </option>
                            {% endfor %}

                        </select>
                        <input type="submit" class="" value="{% trans 'Change language' %}">
                    </form>
                </h5>

            </div>
            <div class="col-sm-4">

            <h5 class="section_footer__heading">{% trans 'Example menu' %}
                <br><br>

            <img src="{% static 'example-menu.png' %}" alt="" width="50%" height="50%">
            </h5>



            </div>
        </div> <!-- / .row -->
        <div class="row">
            <div class="col-12">

                <!-- Copyright -->
                <div class="section_footer__copyright">

                    &copy; <span id="js-current-year"></span> Touché. All rights reserved.
                </div>
                <br>

            </div>
        </div> <!-- / .row -->
    </div> <!-- / .container -->
</footer>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="{% static 'assets/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCnKt8_N4-FKOnhI_pSaDL7g_g-XI1-R9E"></script>

<!-- JS Plugins -->
<script src="{% static 'assets/plugins/parallax/parallax.min.js' %}"></script>
<script src="{% static 'assets/plugins/isotope/lib/imagesloaded.pkgd.min.js' %}"></script>
<script src="{% static 'assets/plugins/isotope/isotope.pkgd.min.js' %}"></script>
<script src="{% static 'assets/plugins/flickity/flickity.pkgd.min.js' %}"></script>
<script src="{% static 'assets/plugins/lightbox/js/lightbox.min.js' %}"></script>
<script src="{% static 'assets/plugins/reservation/reservation.js' %}"></script>
<script src="{% static 'assets/plugins/alerts/alerts.js' %}"></script>

<!-- JS Custom -->
<!-- build:js assets/js/theme.min.js -->
<script src="{% static 'assets/js/theme.js' %}"></script>
<!-- endbuild -->
<script src="{% static 'assets/js/custom.js' %}"></script>
</body>
</html>